/* 
    Created on : Jul 24, 2014, 1:50:56 AM
    Author     : Seungchul Lee
*/

.container{
    -webkit-backface-visibility: hidden;
}

.container:after{
    display: inline-block;
    width: 100%;
}

.container .mix,
.container .gap{
    width: 100%;
    display: inline-block;
}

.container .mix{
    text-align: left;
    display: none;
}

.container .mix:after{
    display: inline-block;
    vertical-align: top;
}

.container .mix:before{
    display: inline-block;
}

.controls {
    margin-bottom: 5px;
}

@media all and (min-width: 420px){
    .container .mix,
    .container .gap{
        width: 33%;
    }
}

@media all and (min-width: 640px){
    .container .mix,
    .container .gap{
        width: 33%;
    }
}

#img-ctrl-button{
    display: inline-block;
    background-color: #008cba;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    min-width: 78px;
    min-height: 16px;
    text-align: center;
}

.img-category{
    text-align: center;
}