/* 
    Created on : Jul 24, 2014, 1:50:56 AM
    Author     : Seungchul Lee
*/

.container{
    -webkit-backface-visibility: hidden;
}

.container:after{
    content: '';
    display: inline-block;
    width: 100%;
}

.container .mix,
.container .gap{
    width: 100%;
    display: inline-block;
}

.container .mix{
    text-align: left;
    display: none;
}

/*.container .mix:after{
    content: attr(data-myorder);
    color: white;
    display: inline-block;
    vertical-align: top;
}*/

.container .mix:before{
    content: '';
    display: inline-block;
}

.mix {
    margin-top: 8px;
    margin-bottom: 8px;
    /*padding-left: 15px;
    padding-right: 15px;*/
    border: black;
    background: white;
    border-width:0.1px;	
    border-style:outset; 
}

@media all and (min-width: 420px){
    .container .mix,
    .container .gap{
        width: 100%;
    }
}

@media all and (min-width: 640px){
    .container .mix,
    .container .gap{
        width: 100%;
    }
}

#comment-textarea {
    margin-top: 4px;
    min-height: 30px;
    display: block;
    height: 30px;
} 

.comment-type-area{
    margin-bottom: 0 !important;
    width: 377px;
    left: -15px;
}

.comment-type-area textarea{
    padding: 7px;
    margin: 0 !important;
    min-height: 48px !important;
}

.comment-box {
    /*padding-top: 5px;
    padding-right: 10px;
    padding-left: 4px;*/
    padding-bottom: 15px;
}

.comment-head a{
    padding-right: 5px;
}

.profile-large-box:after {
    display: block;
    clear: both;
/*    visibility: hidden;*/
    line-height: 0;
    height: 0; 
}

.post-content{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
}

.post-pic{
    padding-left: 30px !important;
}

.post-nd{
    padding-left: 15px !important;
    padding-right: 30px !important;
}

.comment-content i{
    padding-right: 15px;
}

#iv-tab{
    margin-bottom: 5px !important;
}

#iv-tab a{
    border-radius: 5px;
}

#image-category{
    display: inline-block;
    padding: 10px;
    background-color: #008cba;
    color: white;
    border-radius: 5px;
    min-width: 78px;
    min-height: 16px;
    text-align: center;
}

.img-ctrl-check{
    float: right;
}

.image-modal-label{
    font-size: 20px;
}

#image-sc-container{
    float: right;
}

#image-submit{
    margin-right: 5px;
}

/*#image-cancel{
    margin-right: 5px;
    margin-top: 20px;
}*/