/* 
    Created on : Jul 24, 2014, 1:50:56 AM
    Author     : Seungchul Lee
*/

.container{
    -webkit-backface-visibility: hidden;
}

.container:after{
    content: '';
    display: inline-block;
    width: 100%;
}

.container .mix,
.container .gap{
    width: 100%;
    display: inline-block;
}

.container .mix{
    text-align: left;
    display: none;
}

.container .mix:after{
    content: attr(data-myorder);
    color: white;
    display: inline-block;
    vertical-align: top;
}

.container .mix:before{
    content: '';
    display: inline-block;
}

@media all and (min-width: 420px){
    .container .mix,
    .container .gap{
        width: 33%;
    }
}

@media all and (min-width: 640px){
    .container .mix,
    .container .gap{
        width: 33%;
    }
}