/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 15, 2014, 12:03:17 PM
    Author     : Seungchul Lee
*/

.header {
    padding: 10px;
    background: #a0d3e8;
    position: fixed;
    width:100%;
    z-index: 1;
    vertical-align: baseline;
}

#footer {
    background: #EEEEEE;
}

.header-signup {
    padding-top: 15px;
    padding-bottom: 0px;
    background: #a0d3e8;
}

.content {
    padding-top: 70px;
    position: relative;
    background: #EEEEEE;
}

.conetnet-child {
    background: #EEEEEE;
    padding: 50px;
    height: 500px;
    min-height: 500px;
    min-width: 300px;
}

.comment-head {
    background-color: #F5F5F5;
    font-size: 15px;
    margin-bottom: 3px;
}

.comment {
    background-color: #F5F5F5;
    font-size: 16px;
}

.comment-hr {
    margin-top: -2px;
    margin-bottom: -1.5px;
}

.nav-divider {
    margin-top: -1px;
    margin-bottom: 1px;
    padding-bottom: 2px;
}

.post {
    padding-top: 5px;
    word-wrap: break-word;
}

.date {
    padding-top: 5px;
    font-size: 13px;
    color: lightgray;
}


.media-description-brief {
    background: white;
    width: 100%;
    height: 100%;
}


.panel-media 
{
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: white; 

}